---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Ever Coraz칩n</h1>
			<p class="hero__text">
				Bienvenido a mi portafolio, donde la creatividad y el c칩digo se
				unen para crear soluciones digitales que impulsan el futuro con
				eficiencia, dise침o y funcionalidad.
			</p>
			<Boton href="#" texto="Quiero saber m치s" />
		</div>
		<img
			class="hero__img"
			src="/img/EverOc.png"
			alt="Jhon Doe"
			width="384"
			height="384"
		/>
	</div>
</section>
