---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Me especializo en el desarrollo backend utilizando tecnologías como
			Laravel, C#, y Python, donde me destaco por crear soluciones sólidas
			y eficientes. Además, tengo experiencia en desarrollo frontend con
			HTML, CSS, JavaScript, y frameworks como React y Tailwind, lo que me
			permite ofrecer una visión integral en la construcción de
			aplicaciones. Mantengo un enfoque en la calidad y la escalabilidad
			en cada proyecto que desarrollo, asegurando que las soluciones sean
			tanto funcionales como intuitivas.
		</p>
	</div>
</section>
