---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/EverFoto.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy estudiante del último semestre de Ingeniería en Ciencias y
				Sistemas, una carrera que elegí por mi pasión por crear
				soluciones innovadoras a partir de la tecnología. Disfruto
				programar y jugar videojuegos en mis ratos libres, y también me
				gusta hacer ejercicio para mantener un buen equilibrio.
			</p>
			<p class="about__text">
				Lo que más me atrae de mi profesión es la posibilidad de
				transformar ideas en realidad mediante el código, ya sea a
				partir de mi imaginación o interpretando las necesidades de los
				clientes. Soy una persona que aprende rápido y se adapta
				fácilmente a los cambios tecnológicos.
			</p>
			<p class="about__text">
				Tengo perros y gatos, que son mis animales favoritos. Además, me
				gusta la tranquilidad de una caminata en el parque. Mi
				curiosidad y ganas de aprender me mantienen explorando nuevas
				áreas dentro y fuera de la tecnología.
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
